In [1]:
import pickle
import numpy as np
import pandas as pd

In [76]:
df=pickle.load(open("load_data_1632.pkl",'r'))
df_new=df

In [77]:
pos=[]
for i in range(3,len(df.columns)):
    if (np.sum(np.isnan(df.iloc[:,i].values))>=40995):
        print 'Empty Column'
        pos.append(i)
    else:
        print 'All fine'

All fine
All fine
All fine
Empty Column
Empty Column
All fine
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
All fine
Empty Column
Empty Column
Empty Column
All fine
All fine
All fine
All fine
Empty Column
All fine
All fine
All fine
All fine
Empty Column
All fine
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
All fine
All fine
All fine
All fine
All fine
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
All fine
Empty Column
All fine
All fine
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
All fine
All fine
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
Empty Column
All fine
Empty Column
Empty Column

In [78]:
df_new.drop(df_new.columns[pos], inplace=True, axis=1)

In [80]:
df.columns

Index([u'dataid', u'localhour', u'use', u'air1', u'air2', u'air3',
       u'bathroom1', u'clotheswasher1', u'dishwasher1', u'disposal1', u'drye1',
       u'dryg1', u'furnace1', u'furnace2', u'garage1', u'garage2', u'grid',
       u'kitchenapp1', u'kitchenapp2', u'lights_plugs1', u'lights_plugs2',
       u'lights_plugs3', u'microwave1', u'outsidelights_plugs1',
       u'outsidelights_plugs2', u'range1', u'refrigerator1', u'waterheater1'],
      dtype='object')

In [89]:
for i in range(3,len(df.columns)):
    print df.columns[i], np.sum(np.isnan(df.iloc[:,i].values))

air1 1
air2 1
air3 18
bathroom1 18
clotheswasher1 0
dishwasher1 0
disposal1 0
drye1 40833
dryg1 162
furnace1 18
furnace2 0
garage1 18
garage2 162
grid 1
kitchenapp1 0
kitchenapp2 0
lights_plugs1 18
lights_plugs2 18
lights_plugs3 40851
microwave1 0
outsidelights_plugs1 1
outsidelights_plugs2 1
range1 40851
refrigerator1 7942
waterheater1 18

In [90]:
df.shape

(40995, 28)

In [112]:
nuls={}
l=0
for i in range(3,len(df.columns)):
    a=df.iloc[:,i].values
    b=[]
    for j in range (len(a)):
        if np.isnan(a[j])==1:
            b.append(j)
    string = str(i)+"-"+str(np.sum(np.isnan(a)))
    nuls[string]=b

In [115]:
df.head()

,dataid,localhour,use,air1,air2,air3,bathroom1,clotheswasher1,dishwasher1,disposal1,...,kitchenapp2,lights_plugs1,lights_plugs2,lights_plugs3,microwave1,outsidelights_plugs1,outsidelights_plugs2,range1,refrigerator1,waterheater1
0,1632,2013-03-15 01:00:00-05,0.820433,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7365,NaN,0.0
1,1632,2013-03-15 02:00:00-05,0.373833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,NaN,0.0
2,1632,2013-03-15 03:00:00-05,0.379117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,NaN,0.0
3,1632,2013-03-15 04:00:00-05,0.341650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,NaN,0.0
4,1632,2013-03-15 05:00:00-05,0.379400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,NaN,0.0