In [113]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [114]:
sid = ['/media/siddharth/New Volume/Github/My Analysis - SF/USA_AK_Anchorage.Intl.AP.702730_TMY3_BASE.csv','/media/siddharth/New Volume/Github/My Analysis - SF/Anchorage_Weather.csv']
path = sid[0]
path_weather = sid[1]

In [115]:
df=pd.read_csv(path)
#print df.head(3),"\n"
df_weather = pd.read_csv(path_weather,header=1)

In [116]:
df_set= df['Electricity:Facility [kW](Hourly)']
values = pd.DataFrame(df_set.values)


dataframe = pd.concat([values.shift(2),values.shift(1), values], axis=1)
#above line is same as dataframe = np.hstack( (np.hstack(( values[2:], values[1:-2])) , values[:-3] ) )

dataframe.columns = ['t-2', 't-1','t']

# To remove the NaN values
dataframe= pd.DataFrame(dataframe[2:])

scaler = StandardScaler()
scaler.fit(dataframe.values)

#print dataframe

x = dataframe.loc[:,'t-2':'t-1']
y = pd.DataFrame(dataframe.loc[:,'t'])

print x.head(4)
y.columns = ['t']
print y.head(4)

        t-2       t-1
2  1.019364  0.887116
3  0.887116  0.833463
4  0.833463  0.818020
5  0.818020  0.812916
          t
2  0.833463
3  0.818020
4  0.812916
5  0.865135

In [117]:
X_train,X_test,y_train,y_test = train_test_split(x.values,y.values,test_size=0.2,random_state=1)

In [118]:
#scaler.transform(X_train)
#scaler.transform(X_test)
len(y_train)

7006

In [194]:

#To input to the model, the pixels need to be converted to a 28 x 28
#i.e. 784 length vector.
'''Flatten 28 x 28 images to a 784 vector for each image.'''
#num_pixels = X_train.shape[1]*X_train.shape[2]
num_pixels=2

#X_train = X_train.reshape(X_train.shape[0],num_pixels).astype('float32')
#X_test = X_test.reshape(X_test.shape[0],num_pixels).astype('float32')

#Scaling (range [0,1] )
#X_train = X_train*1.0/255
#X_test = X_test*1.0/255

#One-hot encode the outputs.
#y_train = np_utils.to_categorical(y_train)
#y_test = np_utils.to_categorical(y_test)
#num_classes = y_test.shape[1]
num_classes=1

#define baseline model.
def baseline_model():
    #Create model.
    model = Sequential()
    #Hidden Layer.
    '''It means that the input_dim is the size of the input, and the 
       the num_pixels is the number of neurons in the first hidden layer.  
    '''
    model.add(Dense(num_pixels,input_dim=num_pixels,kernel_initializer='normal',activation=i))
    #Output Layer.
    model.add(Dense(num_classes,kernel_initializer='normal',activation=i))
    #Compile model.
    model.compile(loss='mean_squared_error',optimizer='adam',metrics=['mean_squared_error'])
    return model

activations = ['tanh','sigmoid','hard_sigmoid','linear']
for i in activations:
    #Build the model.
    model = baseline_model()
    #Fit the model.
    model.fit(X_train,y_train,epochs=10,batch_size=200,verbose=2)

    #model.summary()

    #Final Evaluation of the model.
    scores = model.evaluate(X_test,y_test,verbose=0)
    print ("Model : ",i)
    print ("Score : %.5f" % (100-scores[1]*100)),"\n\n"

Epoch 1/10
0s - loss: 1.2451 - mean_squared_error: 1.2451
Epoch 2/10
0s - loss: 1.1345 - mean_squared_error: 1.1345
Epoch 3/10
0s - loss: 0.9776 - mean_squared_error: 0.9776
Epoch 4/10
0s - loss: 0.7958 - mean_squared_error: 0.7958
Epoch 5/10
0s - loss: 0.6334 - mean_squared_error: 0.6334
Epoch 6/10
0s - loss: 0.5113 - mean_squared_error: 0.5113
Epoch 7/10
0s - loss: 0.4254 - mean_squared_error: 0.4254
Epoch 8/10
0s - loss: 0.3657 - mean_squared_error: 0.3657
Epoch 9/10
0s - loss: 0.3240 - mean_squared_error: 0.3240
Epoch 10/10
0s - loss: 0.2936 - mean_squared_error: 0.2936
('Model : ', 'tanh')
Score : 71.04407


Epoch 1/10
0s - loss: 0.4767 - mean_squared_error: 0.4767
Epoch 2/10
0s - loss: 0.4574 - mean_squared_error: 0.4574
Epoch 3/10
0s - loss: 0.4381 - mean_squared_error: 0.4381
Epoch 4/10
0s - loss: 0.4174 - mean_squared_error: 0.4174
Epoch 5/10
0s - loss: 0.3956 - mean_squared_error: 0.3956
Epoch 6/10
0s - loss: 0.3742 - mean_squared_error: 0.3742
Epoch 7/10
0s - loss: 0.3532 - mean_squared_error: 0.3532
Epoch 8/10
0s - loss: 0.3337 - mean_squared_error: 0.3337
Epoch 9/10
0s - loss: 0.3158 - mean_squared_error: 0.3158
Epoch 10/10
0s - loss: 0.3000 - mean_squared_error: 0.3000
('Model : ', 'sigmoid')
Score : 69.81225


Epoch 1/10
0s - loss: 0.4684 - mean_squared_error: 0.4684
Epoch 2/10
0s - loss: 0.4519 - mean_squared_error: 0.4519
Epoch 3/10
0s - loss: 0.4344 - mean_squared_error: 0.4344
Epoch 4/10
0s - loss: 0.4163 - mean_squared_error: 0.4163
Epoch 5/10
0s - loss: 0.3974 - mean_squared_error: 0.3974
Epoch 6/10
0s - loss: 0.3783 - mean_squared_error: 0.3783
Epoch 7/10
0s - loss: 0.3589 - mean_squared_error: 0.3589
Epoch 8/10
0s - loss: 0.3395 - mean_squared_error: 0.3395
Epoch 9/10
0s - loss: 0.3208 - mean_squared_error: 0.3208
Epoch 10/10
0s - loss: 0.3024 - mean_squared_error: 0.3024
('Model : ', 'hard_sigmoid')
Score : 69.71541


Epoch 1/10
0s - loss: 1.2300 - mean_squared_error: 1.2300
Epoch 2/10
0s - loss: 1.0920 - mean_squared_error: 1.0920
Epoch 3/10
0s - loss: 0.9015 - mean_squared_error: 0.9015
Epoch 4/10
0s - loss: 0.6799 - mean_squared_error: 0.6799
Epoch 5/10
0s - loss: 0.4590 - mean_squared_error: 0.4590
Epoch 6/10
0s - loss: 0.2793 - mean_squared_error: 0.2793
Epoch 7/10
0s - loss: 0.1582 - mean_squared_error: 0.1582
Epoch 8/10
0s - loss: 0.0956 - mean_squared_error: 0.0956
Epoch 9/10
0s - loss: 0.0709 - mean_squared_error: 0.0709
Epoch 10/10
0s - loss: 0.0632 - mean_squared_error: 0.0632
('Model : ', 'linear')
Score : 93.61931

In [126]:
X_train[:3]

array([[ 1.24551648,  0.9399456 ],
       [ 0.79024752,  1.00582298],
       [ 0.89470353,  1.10083911]])

In [135]:
df.dtypes

Date/Time                                           object
Electricity:Facility [kW](Hourly)                  float64
Gas:Facility [kW](Hourly)                          float64
Heating:Electricity [kW](Hourly)                     int64
Heating:Gas [kW](Hourly)                           float64
Cooling:Electricity [kW](Hourly)                     int64
HVACFan:Fans:Electricity [kW](Hourly)              float64
Electricity:HVAC [kW](Hourly)                      float64
Fans:Electricity [kW](Hourly)                      float64
General:InteriorLights:Electricity [kW](Hourly)    float64
General:ExteriorLights:Electricity [kW](Hourly)    float64
Appl:InteriorEquipment:Electricity [kW](Hourly)    float64
Misc:InteriorEquipment:Electricity [kW](Hourly)    float64
Water Heater:WaterSystems:Gas [kW](Hourly)         float64
dtype: object

In [170]:
scores

[0.17734219705405302, 0.17734219705405302]

In [171]:
#London Dataset.
d = pd.read_csv("/media/siddharth/New Volume/Github/TherML Data/London/Power-Networks-LCL-June2015(withAcornGps)v2_1.csv",header=0)

In [172]:
d.tail(4)

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
999996,MAC000036,Std,2012-11-08 08:30:00.0000000,0.042,ACORN-E,Affluent
999997,MAC000036,Std,2012-11-08 09:00:00.0000000,0.076,ACORN-E,Affluent
999998,MAC000036,Std,2012-11-08 09:30:00.0000000,0.07,ACORN-E,Affluent
999999,MAC000036,Std,2012-11-08 10:00:00.0000000,0.005,ACORN-E,Affluent

In [173]:
dcopy = pd.DataFrame(d[d.columns[3]])

In [174]:
dcopy.head(4)

  KWH/hh (per half hour)
0                      0
1                      0
2                      0
3                      0

In [175]:
dcopy = pd.concat([dcopy.shift(2),dcopy.shift(1),dcopy],axis=1)
dcopy.columns = ['t-2','t-1','t']

In [177]:
dcopy.head(4)
dcopy = (dcopy[2:])

In [178]:
type(dcopy)

pandas.core.frame.DataFrame

In [179]:
dcopy.head(3)

   t-2  t-1    t
2   0    0    0
3   0    0    0
4   0    0    0