In [52]:
import pandas as pd 
import numpy as np
import os
from collections import Counter

In [71]:
available_path = [r'C:\Users\Chakradhar\Desktop\harsha\datasets\load prediction\uci\household_power_consumption.txt',
                  '/Volumes/ADITHYA/Adithya/ML materials/DATA SETS/household_power_consumption.txt']

path = available_path[1] if("ADITHYA" in os.getcwd()) else available_path[0]

In [72]:
df=pd.read_csv(path,sep=';')
df['datetime']=df['Date'] + ' ' + df['Time']
length,br=df.shape
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,datetime
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16/12/2006 17:24:00
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16/12/2006 17:25:00
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16/12/2006 17:26:00
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16/12/2006 17:27:00
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16/12/2006 17:28:00
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0,16/12/2006 17:29:00
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0,16/12/2006 17:30:00
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0,16/12/2006 17:31:00
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0,16/12/2006 17:32:00
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0,16/12/2006 17:33:00
10,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0,16/12/2006 17:34:00
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0,16/12/2006 17:35:00
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0,16/12/2006 17:36:00
13,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0,16/12/2006 17:37:00
14,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0,16/12/2006 17:38:00
15,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0,16/12/2006 17:39:00
16,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0,16/12/2006 17:40:00
17,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0,16/12/2006 17:41:00
18,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0,16/12/2006 17:42:00
19,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0,16/12/2006 17:43:00
20,16/12/2006,17:44:00,5.894,0.000,232.690,25.400,0.000,0.000,16.0,16/12/2006 17:44:00
21,16/12/2006,17:45:00,7.706,0.000,230.980,33.200,0.000,0.000,17.0,16/12/2006 17:45:00
22,16/12/2006,17:46:00,7.026,0.000,232.210,30.600,0.000,0.000,16.0,16/12/2006 17:46:00
23,16/12/2006,17:47:00,5.174,0.000,234.190,22.000,0.000,0.000,17.0,16/12/2006 17:47:00
24,16/12/2006,17:48:00,4.474,0.000,234.960,19.400,0.000,0.000,17.0,16/12/2006 17:48:00
25,16/12/2006,17:49:00,3.248,0.000,236.660,13.600,0.000,0.000,17.0,16/12/2006 17:49:00
26,16/12/2006,17:50:00,3.236,0.000,235.840,13.600,0.000,0.000,17.0,16/12/2006 17:50:00
27,16/12/2006,17:51:00,3.228,0.000,235.600,13.600,0.000,0.000,17.0,16/12/2006 17:51:00
28,16/12/2006,17:52:00,3.258,0.000,235.490,13.800,0.000,0.000,17.0,16/12/2006 17:52:00
29,16/12/2006,17:53:00,3.178,0.000,235.280,13.400,0.000,0.000,17.0,16/12/2006 17:53:00
...,...,...,...,...,...,...,...,...,...,...
2075229,26/11/2010,20:33:00,0.978,0,240.28,4,0,1,0.0,26/11/2010 20:33:00
2075230,26/11/2010,20:34:00,0.968,0,237.57,4,0,1,0.0,26/11/2010 20:34:00
2075231,26/11/2010,20:35:00,0.96,0,238.01,4,0,1,0.0,26/11/2010 20:35:00
2075232,26/11/2010,20:36:00,0.964,0,238.07,4,0,1,0.0,26/11/2010 20:36:00
2075233,26/11/2010,20:37:00,0.98,0,237.9,4.2,0,1,0.0,26/11/2010 20:37:00
2075234,26/11/2010,20:38:00,0.976,0.096,236.97,4,0,2,0.0,26/11/2010 20:38:00
2075235,26/11/2010,20:39:00,0.984,0.1,238.16,4.2,0,1,0.0,26/11/2010 20:39:00
2075236,26/11/2010,20:40:00,0.986,0.102,238.92,4.2,0,1,0.0,26/11/2010 20:40:00
2075237,26/11/2010,20:41:00,0.99,0.106,239.57,4.2,0,1,0.0,26/11/2010 20:41:00
2075238,26/11/2010,20:42:00,0.988,0.106,239.6,4.2,0,1,0.0,26/11/2010 20:42:00
2075239,26/11/2010,20:43:00,0.988,0.106,239.64,4.2,0,1,0.0,26/11/2010 20:43:00
2075240,26/11/2010,20:44:00,0.982,0.102,238.69,4,0,1,0.0,26/11/2010 20:44:00
2075241,26/11/2010,20:45:00,0.972,0.092,238.32,4,0,2,0.0,26/11/2010 20:45:00
2075242,26/11/2010,20:46:00,0.908,0,238.53,3.8,0,1,0.0,26/11/2010 20:46:00
2075243,26/11/2010,20:47:00,0.91,0,238.71,3.8,0,1,0.0,26/11/2010 20:47:00
2075244,26/11/2010,20:48:00,0.912,0,239.25,3.8,0,1,0.0,26/11/2010 20:48:00
2075245,26/11/2010,20:49:00,0.948,0,238.16,4,0,1,0.0,26/11/2010 20:49:00
2075246,26/11/2010,20:50:00,1.198,0.128,238.11,5,0,1,0.0,26/11/2010 20:50:00
2075247,26/11/2010,20:51:00,1.024,0.106,238.84,4.2,0,1,0.0,26/11/2010 20:51:00
2075248,26/11/2010,20:52:00,0.946,0,239.05,4,0,0,0.0,26/11/2010 20:52:00
2075249,26/11/2010,20:53:00,0.944,0,238.72,4,0,0,0.0,26/11/2010 20:53:00
2075250,26/11/2010,20:54:00,0.946,0,239.31,4,0,0,0.0,26/11/2010 20:54:00
2075251,26/11/2010,20:55:00,0.946,0,239.74,4,0,0,0.0,26/11/2010 20:55:00
2075252,26/11/2010,20:56:00,0.942,0,239.41,4,0,0,0.0,26/11/2010 20:56:00
2075253,26/11/2010,20:57:00,0.946,0,240.33,4,0,0,0.0,26/11/2010 20:57:00
2075254,26/11/2010,20:58:00,0.946,0,240.43,4,0,0,0.0,26/11/2010 20:58:00
2075255,26/11/2010,20:59:00,0.944,0,240,4,0,0,0.0,26/11/2010 20:59:00
2075256,26/11/2010,21:00:00,0.938,0,239.82,3.8,0,0,0.0,26/11/2010 21:00:00
2075257,26/11/2010,21:01:00,0.934,0,239.7,3.8,0,0,0.0,26/11/2010 21:01:00
2075258,26/11/2010,21:02:00,0.932,0,239.55,3.8,0,0,0.0,26/11/2010 21:02:00

In [73]:
#I split the dataframe into 10 smaller dataframes
c=0
j=0
a=[]
for i in range(length/10,length,length/10):
    a.append(df[j:i])
    j=i

In [74]:
#Please verify if this part of the code is working. I am setting the datetime column as the index and 
#then i am converting the index to python supported datetime format
df.set_index('datetime',inplace=True)
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,,,
16/12/2006 17:24:00,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
16/12/2006 17:25:00,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
16/12/2006 17:26:00,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
16/12/2006 17:27:00,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
16/12/2006 17:28:00,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
16/12/2006 17:29:00,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
16/12/2006 17:30:00,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
16/12/2006 17:31:00,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
16/12/2006 17:32:00,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
16/12/2006 17:33:00,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0
16/12/2006 17:34:00,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0
16/12/2006 17:35:00,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
16/12/2006 17:36:00,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
16/12/2006 17:37:00,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0
16/12/2006 17:38:00,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0
16/12/2006 17:39:00,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0
16/12/2006 17:40:00,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0
16/12/2006 17:41:00,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0
16/12/2006 17:42:00,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0
16/12/2006 17:43:00,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0
16/12/2006 17:44:00,16/12/2006,17:44:00,5.894,0.000,232.690,25.400,0.000,0.000,16.0
16/12/2006 17:45:00,16/12/2006,17:45:00,7.706,0.000,230.980,33.200,0.000,0.000,17.0
16/12/2006 17:46:00,16/12/2006,17:46:00,7.026,0.000,232.210,30.600,0.000,0.000,16.0
16/12/2006 17:47:00,16/12/2006,17:47:00,5.174,0.000,234.190,22.000,0.000,0.000,17.0
16/12/2006 17:48:00,16/12/2006,17:48:00,4.474,0.000,234.960,19.400,0.000,0.000,17.0
16/12/2006 17:49:00,16/12/2006,17:49:00,3.248,0.000,236.660,13.600,0.000,0.000,17.0
16/12/2006 17:50:00,16/12/2006,17:50:00,3.236,0.000,235.840,13.600,0.000,0.000,17.0
16/12/2006 17:51:00,16/12/2006,17:51:00,3.228,0.000,235.600,13.600,0.000,0.000,17.0
16/12/2006 17:52:00,16/12/2006,17:52:00,3.258,0.000,235.490,13.800,0.000,0.000,17.0
16/12/2006 17:53:00,16/12/2006,17:53:00,3.178,0.000,235.280,13.400,0.000,0.000,17.0
...,...,...,...,...,...,...,...,...,...
26/11/2010 20:33:00,26/11/2010,20:33:00,0.978,0,240.28,4,0,1,0.0
26/11/2010 20:34:00,26/11/2010,20:34:00,0.968,0,237.57,4,0,1,0.0
26/11/2010 20:35:00,26/11/2010,20:35:00,0.96,0,238.01,4,0,1,0.0
26/11/2010 20:36:00,26/11/2010,20:36:00,0.964,0,238.07,4,0,1,0.0
26/11/2010 20:37:00,26/11/2010,20:37:00,0.98,0,237.9,4.2,0,1,0.0
26/11/2010 20:38:00,26/11/2010,20:38:00,0.976,0.096,236.97,4,0,2,0.0
26/11/2010 20:39:00,26/11/2010,20:39:00,0.984,0.1,238.16,4.2,0,1,0.0
26/11/2010 20:40:00,26/11/2010,20:40:00,0.986,0.102,238.92,4.2,0,1,0.0
26/11/2010 20:41:00,26/11/2010,20:41:00,0.99,0.106,239.57,4.2,0,1,0.0
26/11/2010 20:42:00,26/11/2010,20:42:00,0.988,0.106,239.6,4.2,0,1,0.0
26/11/2010 20:43:00,26/11/2010,20:43:00,0.988,0.106,239.64,4.2,0,1,0.0
26/11/2010 20:44:00,26/11/2010,20:44:00,0.982,0.102,238.69,4,0,1,0.0
26/11/2010 20:45:00,26/11/2010,20:45:00,0.972,0.092,238.32,4,0,2,0.0
26/11/2010 20:46:00,26/11/2010,20:46:00,0.908,0,238.53,3.8,0,1,0.0
26/11/2010 20:47:00,26/11/2010,20:47:00,0.91,0,238.71,3.8,0,1,0.0
26/11/2010 20:48:00,26/11/2010,20:48:00,0.912,0,239.25,3.8,0,1,0.0
26/11/2010 20:49:00,26/11/2010,20:49:00,0.948,0,238.16,4,0,1,0.0
26/11/2010 20:50:00,26/11/2010,20:50:00,1.198,0.128,238.11,5,0,1,0.0
26/11/2010 20:51:00,26/11/2010,20:51:00,1.024,0.106,238.84,4.2,0,1,0.0
26/11/2010 20:52:00,26/11/2010,20:52:00,0.946,0,239.05,4,0,0,0.0
26/11/2010 20:53:00,26/11/2010,20:53:00,0.944,0,238.72,4,0,0,0.0
26/11/2010 20:54:00,26/11/2010,20:54:00,0.946,0,239.31,4,0,0,0.0
26/11/2010 20:55:00,26/11/2010,20:55:00,0.946,0,239.74,4,0,0,0.0
26/11/2010 20:56:00,26/11/2010,20:56:00,0.942,0,239.41,4,0,0,0.0
26/11/2010 20:57:00,26/11/2010,20:57:00,0.946,0,240.33,4,0,0,0.0
26/11/2010 20:58:00,26/11/2010,20:58:00,0.946,0,240.43,4,0,0,0.0
26/11/2010 20:59:00,26/11/2010,20:59:00,0.944,0,240,4,0,0,0.0
26/11/2010 21:00:00,26/11/2010,21:00:00,0.938,0,239.82,3.8,0,0,0.0
26/11/2010 21:01:00,26/11/2010,21:01:00,0.934,0,239.7,3.8,0,0,0.0
26/11/2010 21:02:00,26/11/2010,21:02:00,0.932,0,239.55,3.8,0,0,0.0

In [75]:
for i in xrange(0,10):
    a[i].set_index('datetime',inplace=True)
    a[i].index=pd.to_datetime(a[i].index)
    a[i]=a[i].resample('H').sum()
    a[i].columns
    print a[i]

                     Sub_metering_3
datetime
2006-12-16 17:00:00           607.0
2006-12-16 18:00:00          1012.0
2006-12-16 19:00:00          1001.0
2006-12-16 20:00:00          1007.0
2006-12-16 21:00:00          1033.0
2006-12-16 22:00:00           266.0
2006-12-16 23:00:00             0.0
2006-12-17 00:00:00             0.0
2006-12-17 01:00:00             0.0
2006-12-17 02:00:00             0.0
2006-12-17 03:00:00             0.0
2006-12-17 04:00:00           533.0
2006-12-17 05:00:00           279.0
2006-12-17 06:00:00             0.0
2006-12-17 07:00:00             0.0
2006-12-17 08:00:00             0.0
2006-12-17 09:00:00             0.0
2006-12-17 10:00:00           969.0
2006-12-17 11:00:00          1031.0
2006-12-17 12:00:00          1039.0
2006-12-17 13:00:00          1057.0
2006-12-17 14:00:00          1094.0
2006-12-17 15:00:00          1062.0
2006-12-17 16:00:00          1030.0
2006-12-17 17:00:00          1009.0
2006-12-17 18:00:00          1010.0
2006-12-17 19:00:00          1001.0
2006-12-17 20:00:00          1027.0
2006-12-17 21:00:00          1050.0
2006-12-17 22:00:00           150.0
...                             ...
2007-12-03 18:00:00          1049.0
2007-12-03 19:00:00          1012.0
2007-12-03 20:00:00           895.0
2007-12-03 21:00:00           163.0
2007-12-03 22:00:00          1059.0
2007-12-03 23:00:00            81.0
2007-12-04 00:00:00             0.0
2007-12-04 01:00:00             0.0
2007-12-04 02:00:00             0.0
2007-12-04 03:00:00             0.0
2007-12-04 04:00:00             0.0
2007-12-04 05:00:00             0.0
2007-12-04 06:00:00             0.0
2007-12-04 07:00:00             0.0
2007-12-04 08:00:00             0.0
2007-12-04 09:00:00           545.0
2007-12-04 10:00:00           314.0
2007-12-04 11:00:00             0.0
2007-12-04 12:00:00             0.0
2007-12-04 13:00:00             0.0
2007-12-04 14:00:00             0.0
2007-12-04 15:00:00             0.0
2007-12-04 16:00:00             0.0
2007-12-04 17:00:00             0.0
2007-12-04 18:00:00             0.0
2007-12-04 19:00:00             0.0
2007-12-04 20:00:00             0.0
2007-12-04 21:00:00           685.0
2007-12-04 22:00:00           274.0
2007-12-04 23:00:00             0.0

[8479 rows x 1 columns]
                     Sub_metering_3
datetime
2007-01-06 00:00:00             0.0
2007-01-06 01:00:00             0.0
2007-01-06 02:00:00             0.0
2007-01-06 03:00:00             0.0
2007-01-06 04:00:00             0.0
2007-01-06 05:00:00             0.0
2007-01-06 06:00:00           737.0
2007-01-06 07:00:00           997.0
2007-01-06 08:00:00          1008.0
2007-01-06 09:00:00           990.0
2007-01-06 10:00:00           995.0
2007-01-06 11:00:00          1001.0
2007-01-06 12:00:00           863.0
2007-01-06 13:00:00             0.0
2007-01-06 14:00:00             0.0
2007-01-06 15:00:00             0.0
2007-01-06 16:00:00             0.0
2007-01-06 17:00:00             0.0
2007-01-06 18:00:00             0.0
2007-01-06 19:00:00             0.0
2007-01-06 20:00:00           980.0
2007-01-06 21:00:00            93.0
2007-01-06 22:00:00             0.0
2007-01-06 23:00:00             0.0
2007-01-07 00:00:00          1032.0
2007-01-07 01:00:00            94.0
2007-01-07 02:00:00             0.0
2007-01-07 03:00:00             0.0
2007-01-07 04:00:00             0.0
2007-01-07 05:00:00             0.0
...                             ...
2007-12-08 18:00:00             0.0
2007-12-08 19:00:00             0.0
2007-12-08 20:00:00             0.0
2007-12-08 21:00:00           312.0
2007-12-08 22:00:00          1010.0
2007-12-08 23:00:00           982.0
2007-12-09 00:00:00          1077.0
2007-12-09 01:00:00          1073.0
2007-12-09 02:00:00          1011.0
2007-12-09 03:00:00             0.0
2007-12-09 04:00:00             0.0
2007-12-09 05:00:00             0.0
2007-12-09 06:00:00             0.0
2007-12-09 07:00:00           203.0
2007-12-09 08:00:00           608.0
2007-12-09 09:00:00             0.0
2007-12-09 10:00:00             0.0
2007-12-09 11:00:00             0.0
2007-12-09 12:00:00             0.0
2007-12-09 13:00:00             0.0
2007-12-09 14:00:00             0.0
2007-12-09 15:00:00             0.0
2007-12-09 16:00:00             0.0
2007-12-09 17:00:00           734.0
2007-12-09 18:00:00            32.0
2007-12-09 19:00:00             0.0
2007-12-09 20:00:00           220.0
2007-12-09 21:00:00          1036.0
2007-12-09 22:00:00          1050.0
2007-12-09 23:00:00           711.0

[8112 rows x 1 columns]
                     Sub_metering_3
datetime
2007-01-10 00:00:00           210.0
2007-01-10 01:00:00             0.0
2007-01-10 02:00:00             0.0
2007-01-10 03:00:00             0.0
2007-01-10 04:00:00             0.0
2007-01-10 05:00:00             0.0
2007-01-10 06:00:00             0.0
2007-01-10 07:00:00             0.0
2007-01-10 08:00:00           398.0
2007-01-10 09:00:00           997.0
2007-01-10 10:00:00          1009.0
2007-01-10 11:00:00             8.0
2007-01-10 12:00:00             0.0
2007-01-10 13:00:00             0.0
2007-01-10 14:00:00             0.0
2007-01-10 15:00:00             0.0
2007-01-10 16:00:00             0.0
2007-01-10 17:00:00           114.0
2007-01-10 18:00:00           530.0
2007-01-10 19:00:00             0.0
2007-01-10 20:00:00             0.0
2007-01-10 21:00:00           568.0
2007-01-10 22:00:00          1054.0
2007-01-10 23:00:00          1072.0
2007-01-11 00:00:00             0.0
2007-01-11 01:00:00             0.0
2007-01-11 02:00:00             0.0
2007-01-11 03:00:00             0.0
2007-01-11 04:00:00             0.0
2007-01-11 05:00:00             0.0
...                             ...
2008-12-01 18:00:00           706.0
2008-12-01 19:00:00          1001.0
2008-12-01 20:00:00          1016.0
2008-12-01 21:00:00          1038.0
2008-12-01 22:00:00          1036.0
2008-12-01 23:00:00          1053.0
2008-12-02 00:00:00             0.0
2008-12-02 01:00:00             0.0
2008-12-02 02:00:00             0.0
2008-12-02 03:00:00           638.0
2008-12-02 04:00:00             0.0
2008-12-02 05:00:00             0.0
2008-12-02 06:00:00             0.0
2008-12-02 07:00:00           554.0
2008-12-02 08:00:00          1003.0
2008-12-02 09:00:00          1010.0
2008-12-02 10:00:00          1013.0
2008-12-02 11:00:00           998.0
2008-12-02 12:00:00          1005.0
2008-12-02 13:00:00          1015.0
2008-12-02 14:00:00          1018.0
2008-12-02 15:00:00          1055.0
2008-12-02 16:00:00          1055.0
2008-12-02 17:00:00           902.0
2008-12-02 18:00:00             0.0
2008-12-02 19:00:00             0.0
2008-12-02 20:00:00           295.0
2008-12-02 21:00:00           577.0
2008-12-02 22:00:00             0.0
2008-12-02 23:00:00             0.0

[16632 rows x 1 columns]
                     Sub_metering_3
datetime
2008-01-03 00:00:00             0.0
2008-01-03 01:00:00             0.0
2008-01-03 02:00:00           523.0
2008-01-03 03:00:00           445.0
2008-01-03 04:00:00             0.0
2008-01-03 05:00:00             0.0
2008-01-03 06:00:00             0.0
2008-01-03 07:00:00             0.0
2008-01-03 08:00:00             0.0
2008-01-03 09:00:00             0.0
2008-01-03 10:00:00             0.0
2008-01-03 11:00:00             0.0
2008-01-03 12:00:00             3.0
2008-01-03 13:00:00           988.0
2008-01-03 14:00:00             0.0
2008-01-03 15:00:00             0.0
2008-01-03 16:00:00             0.0
2008-01-03 17:00:00             0.0
2008-01-03 18:00:00             0.0
2008-01-03 19:00:00             0.0
2008-01-03 20:00:00             0.0
2008-01-03 21:00:00             0.0
2008-01-03 22:00:00             0.0
2008-01-03 23:00:00           765.0
2008-01-04 00:00:00          1089.0
2008-01-04 01:00:00           450.0
2008-01-04 02:00:00             0.0
2008-01-04 03:00:00             0.0
2008-01-04 04:00:00             0.0
2008-01-04 05:00:00             0.0
...                             ...
2008-12-06 18:00:00           489.0
2008-12-06 19:00:00           264.0
2008-12-06 20:00:00           889.0
2008-12-06 21:00:00            57.0
2008-12-06 22:00:00            88.0
2008-12-06 23:00:00            90.0
2008-12-07 00:00:00           648.0
2008-12-07 01:00:00            90.0
2008-12-07 02:00:00            39.0
2008-12-07 03:00:00            90.0
2008-12-07 04:00:00            90.0
2008-12-07 05:00:00            87.0
2008-12-07 06:00:00           914.0
2008-12-07 07:00:00          1078.0
2008-12-07 08:00:00            90.0
2008-12-07 09:00:00            39.0
2008-12-07 10:00:00           693.0
2008-12-07 11:00:00            92.0
2008-12-07 12:00:00            40.0
2008-12-07 13:00:00          1050.0
2008-12-07 14:00:00           138.0
2008-12-07 15:00:00           808.0
2008-12-07 16:00:00           173.0
2008-12-07 17:00:00            86.0
2008-12-07 18:00:00            86.0
2008-12-07 19:00:00            88.0
2008-12-07 20:00:00           599.0
2008-12-07 21:00:00            39.0
2008-12-07 22:00:00            87.0
2008-12-07 23:00:00            87.0

[8160 rows x 1 columns]
                     Sub_metering_3
datetime
2008-01-08 00:00:00           113.0
2008-01-08 01:00:00           115.0
2008-01-08 02:00:00           118.0
2008-01-08 03:00:00           116.0
2008-01-08 04:00:00           112.0
2008-01-08 05:00:00           109.0
2008-01-08 06:00:00           108.0
2008-01-08 07:00:00           665.0
2008-01-08 08:00:00           112.0
2008-01-08 09:00:00           744.0
2008-01-08 10:00:00           956.0
2008-01-08 11:00:00           108.0
2008-01-08 12:00:00           108.0
2008-01-08 13:00:00           110.0
2008-01-08 14:00:00            39.0
2008-01-08 15:00:00           109.0
2008-01-08 16:00:00           107.0
2008-01-08 17:00:00           106.0
2008-01-08 18:00:00           105.0
2008-01-08 19:00:00           108.0
2008-01-08 20:00:00           270.0
2008-01-08 21:00:00           441.0
2008-01-08 22:00:00           105.0
2008-01-08 23:00:00           107.0
2008-01-09 00:00:00           633.0
2008-01-09 01:00:00            40.0
2008-01-09 02:00:00           100.0
2008-01-09 03:00:00            98.0
2008-01-09 04:00:00            39.0
2008-01-09 05:00:00            94.0
...                             ...
2008-12-10 18:00:00           221.0
2008-12-10 19:00:00           694.0
2008-12-10 20:00:00           875.0
2008-12-10 21:00:00            39.0
2008-12-10 22:00:00            96.0
2008-12-10 23:00:00            96.0
2008-12-11 00:00:00            72.0
2008-12-11 01:00:00             0.0
2008-12-11 02:00:00             0.0
2008-12-11 03:00:00             0.0
2008-12-11 04:00:00             0.0
2008-12-11 05:00:00             0.0
2008-12-11 06:00:00           147.0
2008-12-11 07:00:00          1045.0
2008-12-11 08:00:00          1075.0
2008-12-11 09:00:00          1055.0
2008-12-11 10:00:00          1049.0
2008-12-11 11:00:00          1046.0
2008-12-11 12:00:00          1066.0
2008-12-11 13:00:00          1061.0
2008-12-11 14:00:00            77.0
2008-12-11 15:00:00             0.0
2008-12-11 16:00:00             0.0
2008-12-11 17:00:00             0.0
2008-12-11 18:00:00             0.0
2008-12-11 19:00:00             0.0
2008-12-11 20:00:00             0.0
2008-12-11 21:00:00           945.0
2008-12-11 22:00:00           792.0
2008-12-11 23:00:00             0.0

[8136 rows x 1 columns]
                     Sub_metering_3
datetime
2008-06-12 07:00:00           889.0
2008-06-12 08:00:00          1066.0
2008-06-12 09:00:00          1051.0
2008-06-12 10:00:00          1028.0
2008-06-12 11:00:00          1032.0
2008-06-12 12:00:00          1059.0
2008-06-12 13:00:00          1049.0
2008-06-12 14:00:00           318.0
2008-06-12 15:00:00             0.0
2008-06-12 16:00:00             0.0
2008-06-12 17:00:00             0.0
2008-06-12 18:00:00             0.0
2008-06-12 19:00:00           532.0
2008-06-12 20:00:00             0.0
2008-06-12 21:00:00             0.0
2008-06-12 22:00:00             0.0
2008-06-12 23:00:00             0.0
2008-06-13 00:00:00             NaN
2008-06-13 01:00:00             NaN
2008-06-13 02:00:00             NaN
2008-06-13 03:00:00             NaN
2008-06-13 04:00:00             NaN
2008-06-13 05:00:00             NaN
2008-06-13 06:00:00             NaN
2008-06-13 07:00:00             NaN
2008-06-13 08:00:00             NaN
2008-06-13 09:00:00             NaN
2008-06-13 10:00:00             NaN
2008-06-13 11:00:00             NaN
2008-06-13 12:00:00             NaN
...                             ...
2009-12-03 18:00:00             0.0
2009-12-03 19:00:00             0.0
2009-12-03 20:00:00           475.0
2009-12-03 21:00:00           351.0
2009-12-03 22:00:00             0.0
2009-12-03 23:00:00             0.0
2009-12-04 00:00:00          1117.0
2009-12-04 01:00:00          1165.0
2009-12-04 02:00:00          1111.0
2009-12-04 03:00:00           761.0
2009-12-04 04:00:00            40.0
2009-12-04 05:00:00            96.0
2009-12-04 06:00:00            40.0
2009-12-04 07:00:00           745.0
2009-12-04 08:00:00          1146.0
2009-12-04 09:00:00          1085.0
2009-12-04 10:00:00           615.0
2009-12-04 11:00:00            40.0
2009-12-04 12:00:00            93.0
2009-12-04 13:00:00           177.0
2009-12-04 14:00:00           858.0
2009-12-04 15:00:00            40.0
2009-12-04 16:00:00            94.0
2009-12-04 17:00:00            40.0
2009-12-04 18:00:00           246.0
2009-12-04 19:00:00          1074.0
2009-12-04 20:00:00          1112.0
2009-12-04 21:00:00           595.0
2009-12-04 22:00:00            95.0
2009-12-04 23:00:00            85.0

[12977 rows x 1 columns]
                     Sub_metering_3
datetime
2009-01-05 00:00:00          1113.0
2009-01-05 01:00:00          1111.0
2009-01-05 02:00:00          1177.0
2009-01-05 03:00:00          1063.0
2009-01-05 04:00:00            41.0
2009-01-05 05:00:00           848.0
2009-01-05 06:00:00           224.0
2009-01-05 07:00:00            93.0
2009-01-05 08:00:00           378.0
2009-01-05 09:00:00          1155.0
2009-01-05 10:00:00           532.0
2009-01-05 11:00:00            39.0
2009-01-05 12:00:00            88.0
2009-01-05 13:00:00            41.0
2009-01-05 14:00:00            96.0
2009-01-05 15:00:00           335.0
2009-01-05 16:00:00          1157.0
2009-01-05 17:00:00           705.0
2009-01-05 18:00:00            96.0
2009-01-05 19:00:00            40.0
2009-01-05 20:00:00            99.0
2009-01-05 21:00:00          1066.0
2009-01-05 22:00:00           172.0
2009-01-05 23:00:00            40.0
2009-01-06 00:00:00            98.0
2009-01-06 01:00:00            40.0
2009-01-06 02:00:00            99.0
2009-01-06 03:00:00           102.0
2009-01-06 04:00:00            40.0
2009-01-06 05:00:00           100.0
...                             ...
2009-12-08 18:00:00           413.0
2009-12-08 19:00:00           100.0
2009-12-08 20:00:00            99.0
2009-12-08 21:00:00           101.0
2009-12-08 22:00:00           420.0
2009-12-08 23:00:00           503.0
2009-12-09 00:00:00            90.0
2009-12-09 01:00:00            89.0
2009-12-09 02:00:00           746.0
2009-12-09 03:00:00            90.0
2009-12-09 04:00:00            88.0
2009-12-09 05:00:00            87.0
2009-12-09 06:00:00           275.0
2009-12-09 07:00:00          1136.0
2009-12-09 08:00:00          1137.0
2009-12-09 09:00:00          1090.0
2009-12-09 10:00:00            85.0
2009-12-09 11:00:00           744.0
2009-12-09 12:00:00            91.0
2009-12-09 13:00:00            88.0
2009-12-09 14:00:00           869.0
2009-12-09 15:00:00           110.0
2009-12-09 16:00:00            88.0
2009-12-09 17:00:00           375.0
2009-12-09 18:00:00          1181.0
2009-12-09 19:00:00          1146.0
2009-12-09 20:00:00          1116.0
2009-12-09 21:00:00          1013.0
2009-12-09 22:00:00           426.0
2009-12-09 23:00:00           441.0

[8136 rows x 1 columns]
                     Sub_metering_3
datetime
2009-01-10 00:00:00            88.0
2009-01-10 01:00:00            47.0
2009-01-10 02:00:00            84.0
2009-01-10 03:00:00            91.0
2009-01-10 04:00:00            86.0
2009-01-10 05:00:00            86.0
2009-01-10 06:00:00           157.0
2009-01-10 07:00:00          1132.0
2009-01-10 08:00:00          1133.0
2009-01-10 09:00:00          1156.0
2009-01-10 10:00:00           573.0
2009-01-10 11:00:00            44.0
2009-01-10 12:00:00            86.0
2009-01-10 13:00:00            82.0
2009-01-10 14:00:00            85.0
2009-01-10 15:00:00            88.0
2009-01-10 16:00:00            83.0
2009-01-10 17:00:00            39.0
2009-01-10 18:00:00            88.0
2009-01-10 19:00:00           555.0
2009-01-10 20:00:00          1121.0
2009-01-10 21:00:00          1136.0
2009-01-10 22:00:00          1138.0
2009-01-10 23:00:00           255.0
2009-01-11 00:00:00            58.0
2009-01-11 01:00:00            73.0
2009-01-11 02:00:00            53.0
2009-01-11 03:00:00            79.0
2009-01-11 04:00:00            89.0
2009-01-11 05:00:00            78.0
...                             ...
2010-11-30 18:00:00             NaN
2010-11-30 19:00:00             NaN
2010-11-30 20:00:00             NaN
2010-11-30 21:00:00             NaN
2010-11-30 22:00:00             NaN
2010-11-30 23:00:00             NaN
2010-12-01 00:00:00            41.0
2010-12-01 01:00:00            41.0
2010-12-01 02:00:00            41.0
2010-12-01 03:00:00            41.0
2010-12-01 04:00:00            42.0
2010-12-01 05:00:00            41.0
2010-12-01 06:00:00           416.0
2010-12-01 07:00:00          1163.0
2010-12-01 08:00:00          1116.0
2010-12-01 09:00:00          1127.0
2010-12-01 10:00:00          1118.0
2010-12-01 11:00:00          1117.0
2010-12-01 12:00:00          1127.0
2010-12-01 13:00:00          1128.0
2010-12-01 14:00:00          1010.0
2010-12-01 15:00:00             NaN
2010-12-01 16:00:00             NaN
2010-12-01 17:00:00             NaN
2010-12-01 18:00:00             NaN
2010-12-01 19:00:00             NaN
2010-12-01 20:00:00             NaN
2010-12-01 21:00:00             NaN
2010-12-01 22:00:00             NaN
2010-12-01 23:00:00             NaN

[16584 rows x 1 columns]
                     Sub_metering_3
datetime
2010-01-03 00:00:00            40.0
2010-01-03 01:00:00           802.0
2010-01-03 02:00:00           266.0
2010-01-03 03:00:00            40.0
2010-01-03 04:00:00            72.0
2010-01-03 05:00:00            40.0
2010-01-03 06:00:00            39.0
2010-01-03 07:00:00            40.0
2010-01-03 08:00:00            40.0
2010-01-03 09:00:00            39.0
2010-01-03 10:00:00            39.0
2010-01-03 11:00:00           615.0
2010-01-03 12:00:00          1145.0
2010-01-03 13:00:00          1158.0
2010-01-03 14:00:00          1140.0
2010-01-03 15:00:00           549.0
2010-01-03 16:00:00            40.0
2010-01-03 17:00:00            51.0
2010-01-03 18:00:00            62.0
2010-01-03 19:00:00            39.0
2010-01-03 20:00:00            38.0
2010-01-03 21:00:00            39.0
2010-01-03 22:00:00           244.0
2010-01-03 23:00:00           538.0
2010-01-04 00:00:00            40.0
2010-01-04 01:00:00            72.0
2010-01-04 02:00:00            39.0
2010-01-04 03:00:00            40.0
2010-01-04 04:00:00            73.0
2010-01-04 05:00:00           622.0
...                             ...
2010-12-05 18:00:00           220.0
2010-12-05 19:00:00            39.0
2010-12-05 20:00:00           678.0
2010-12-05 21:00:00           336.0
2010-12-05 22:00:00           146.0
2010-12-05 23:00:00          1011.0
2010-12-06 00:00:00            99.0
2010-12-06 01:00:00           196.0
2010-12-06 02:00:00           565.0
2010-12-06 03:00:00            98.0
2010-12-06 04:00:00            98.0
2010-12-06 05:00:00            97.0
2010-12-06 06:00:00           317.0
2010-12-06 07:00:00          1172.0
2010-12-06 08:00:00          1144.0
2010-12-06 09:00:00          1088.0
2010-12-06 10:00:00          1099.0
2010-12-06 11:00:00            98.0
2010-12-06 12:00:00           193.0

In [98]:
#Resampled the dataset to hours by summing but only the sub_metering_3 column remains and the rest are removed
nans = 0
p = a[1]
r = p['Sub_metering_3'].values
t = np.isnan(r)

In [99]:
Counter(t)

Counter({False: 3458, True: 4654})