In [2]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import os
import pickle
import time
from keras import backend as K
from sklearn.model_selection import cross_val_score
from sklearn.tree import ExtraTreeRegressor
from sklearn.metrics import r2_score
#from multiprocessing import Pool,cpu_count
import sklearn.metrics as m
from collections import Counter
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

In [ ]:
'''
Function that takes in a dataframe and then returns the dictionary of accuracies.
'''
'r'
def plot_test(y_test,y_pred,start,end):
    #Plot of testing.
    plt.figure(figsize=(10,10))
    plt.plot(y_test[start:end],'r')
    plt.plot(y_pred[start+1:end],'b')
    plt.xticks(np.arange(0,end-start,1))
    plt.legend()
    plt.show()


def create_df(localdf):
    i=0
    newdf = []
    timestamp = []
    d = np.zeros((7,))
    newhr = []
    while(24*(i+1)<localdf.shape[0]):
        #print (np.shape(np.sum(localdf.values[24*i:24*(i+1),1:],axis=0).reshape(7,1)),np.sum(localdf.values[24*i:24*(i+1),1:],axis=0).reshape(7,1))
        d = np.sum(localdf.values[24*i:24*(i+1),1:],axis=0)
        newhr.append(localdf.values[24*i:24*(i+1),-1])
        timestamp.append(localdf.values[24*i,0])
        newdf.append(d.T)
        i += 1
    
    print ("End i: ",i)
    newdf = np.hstack((np.reshape(timestamp,(-1,1)),newdf))
    print (newdf)
    return newdf,newhr

In [3]:
df= pd.read_pickle("../DataSets/New_Pecan_Street/load_data_1632.pkl")
df_new=df
df_new

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
0,1632,2013-03-15 01:00:00-05,0.820433,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
1,1632,2013-03-15 02:00:00-05,0.373833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
2,1632,2013-03-15 03:00:00-05,0.379117,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
3,1632,2013-03-15 04:00:00-05,0.341650,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4,1632,2013-03-15 05:00:00-05,0.379400,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
5,1632,2013-03-15 06:00:00-05,0.662633,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
6,1632,2013-03-15 07:00:00-05,0.714833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
7,1632,2013-03-15 08:00:00-05,0.614333,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
8,1632,2013-03-15 09:00:00-05,0.421883,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
9,1632,2013-03-15 10:00:00-05,0.552733,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
10,1632,2013-03-15 11:00:00-05,0.402533,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
11,1632,2013-03-15 12:00:00-05,0.389867,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
12,1632,2013-03-15 13:00:00-05,0.491950,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
13,1632,2013-03-15 14:00:00-05,0.437650,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
14,1632,2013-03-15 15:00:00-05,0.346167,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
15,1632,2013-03-15 16:00:00-05,0.394033,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
16,1632,2013-03-15 17:00:00-05,0.397100,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
17,1632,2013-03-15 18:00:00-05,0.465083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
18,1632,2013-03-15 19:00:00-05,0.817500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
19,1632,2013-03-15 20:00:00-05,0.662933,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
20,1632,2013-03-15 21:00:00-05,0.735517,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
21,1632,2013-03-15 22:00:00-05,0.585550,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
22,1632,2013-03-15 23:00:00-05,0.369100,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
23,1632,2013-03-16 00:00:00-05,0.365000,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
24,1632,2013-03-16 01:00:00-05,0.731183,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25,1632,2013-03-16 02:00:00-05,0.307800,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
26,1632,2013-03-16 03:00:00-05,0.356183,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
27,1632,2013-03-16 04:00:00-05,0.324083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
28,1632,2013-03-16 05:00:00-05,0.449050,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
29,1632,2013-03-16 06:00:00-05,0.532833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40965,1632,2017-11-16 21:00:00-06,0.580833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.089300,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40966,1632,2017-11-16 22:00:00-06,0.475567,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.048333,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40967,1632,2017-11-16 23:00:00-06,0.325133,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.073150,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40968,1632,2017-11-17 00:00:00-06,0.830583,0.0,0.0000,0.000650,NaN,NaN,0.0,NaN,...,0.071417,NaN,NaN,NaN,NaN,NaN,NaN,0.415317,NaN,NaN
40969,1632,2017-11-17 01:00:00-06,0.304250,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.056517,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40970,1632,2017-11-17 02:00:00-06,0.308900,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.066050,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40971,1632,2017-11-17 03:00:00-06,0.301083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.057283,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40972,1632,2017-11-17 04:00:00-06,0.290617,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.048550,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40973,1632,2017-11-17 05:00:00-06,0.307367,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.068567,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40974,1632,2017-11-17 06:00:00-06,0.540483,0.0,0.0003,0.000000,NaN,NaN,0.0,NaN,...,0.051733,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40975,1632,2017-11-17 07:00:00-06,0.542967,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.072383,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40976,1632,2017-11-17 08:00:00-06,0.374783,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.082350,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40977,1632,2017-11-17 09:00:00-06,0.732133,0.0,0.0000,0.000733,NaN,NaN,0.0,NaN,...,0.063117,NaN,NaN,NaN,NaN,NaN,NaN,0.403750,NaN,NaN
40978,1632,2017-11-17 10:00:00-06,0.434467,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.199617,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40979,1632,2017-11-17 11:00:00-06,0.435167,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.115300,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40980,1632,2017-11-17 12:00:00-06,0.591500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.139167,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40981,1632,2017-11-17 13:00:00-06,0.511833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.069283,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40982,1632,2017-11-17 14:00:00-06,0.367717,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.070450,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40983,1632,2017-11-17 15:00:00-06,0.345867,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.085400,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40984,1632,2017-11-17 16:00:00-06,0.401467,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.129683,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40985,1632,2017-11-17 17:00:00-06,0.809483,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.089550,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40986,1632,2017-11-17 18:00:00-06,1.516200,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.113683,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40987,1632,2017-11-17 19:00:00-06,1.432733,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.122033,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40988,1632,2017-11-17 20:00:00-06,1.436317,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.120467,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40989,1632,2017-11-17 21:00:00-06,1.555367,0.0,0.0000,0.000550,NaN,NaN,0.0,NaN,...,0.087683,NaN,NaN,NaN,NaN,NaN,NaN,0.415017,NaN,NaN
40990,1632,2017-11-17 22:00:00-06,1.198500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.085717,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40991,1632,2017-11-17 23:00:00-06,0.619400,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.110633,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40992,1632,2017-11-18 00:00:00-06,0.442217,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.086367,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40993,1632,2017-11-18 01:00:00-06,0.386933,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.087783,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40994,1632,2017-11-18 02:00:00-06,0.382117,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.082600,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [4]:
pos=[]
for i in range(3,len(df.columns)):
    if (np.sum(np.isnan(df.iloc[:,i].values))>=40995):
        pos.append(i)
print (pos)

df_new.drop(df_new.columns[pos], inplace=True, axis=1)
for i in range(3,len(df.columns)):
    print (df.columns[i], np.sum(np.isnan(df.iloc[:,i].values)))
    
nuls={}
l=0
for i in range(3,len(df.columns)):
    a=df.iloc[:,i].values
    b=[]
    for j in range (len(a)):
        if np.isnan(a[j])==1:
            b.append(j)
    string = str(i)+"-"+str(np.sum(np.isnan(a)))
    nuls[string]=b
df.isnull().sum()

df_thermal = df[['dataid','localhour','air1','air2','air3','furnace1','furnace2','waterheater1']]
#Removing the dataid and the localhour column from df_thermal.
del df_thermal[df_thermal.columns[0]]
print (df_thermal.shape)

df_thermal = pd.DataFrame(df_thermal.values[175:],columns=df_thermal.columns)
print( df_thermal.iloc[34491:34494])
df_thermal.values[34492][1] = (df_thermal.iloc[34492-24*7+1][1] + df_thermal.iloc[34492+24*7+1][1]) / 2
df_thermal.values[34492][2] = (df_thermal.iloc[34292-24*7+1][2] + df_thermal.iloc[34492+24*7+1][2]) / 2
print(df_thermal.iloc[34316-24*7+1],df_thermal.iloc[34316+24*7+1])

[6, 7, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 24, 29, 31, 32, 33, 34, 35, 36, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 63, 64, 65, 67, 68]
air1 1
air2 1
air3 18
bathroom1 18
clotheswasher1 0
dishwasher1 0
disposal1 0
drye1 40833
dryg1 162
furnace1 18
furnace2 0
garage1 18
garage2 162
grid 1
kitchenapp1 0
kitchenapp2 0
lights_plugs1 18
lights_plugs2 18
lights_plugs3 40851
microwave1 0
outsidelights_plugs1 1
outsidelights_plugs2 1
range1 40851
refrigerator1 7942
waterheater1 18
(40995, 7)
                    localhour air1         air2 air3 furnace1 furnace2  \
34491  2017-02-27 10:00:00-06    0  6.66667e-05    0    0.005    0.005
34492  2017-02-27 11:00:00-06  NaN          NaN    0    0.005    0.005
34493  2017-02-27 12:00:00-06    0            0    0    0.005    0.005

      waterheater1
34491            0
34492            0
34493            0
localhour       2017-02-13 04:00:00-06
air1                                 0
air2                                 0
air3                                 0
furnace1                         0.005
furnace2                         0.005
waterheater1                         0
Name: 34149, dtype: object localhour       2017-02-27 04:00:00-06
air1                                 0
air2                                 0
air3                                 0
furnace1                         0.005
furnace2                         0.005
waterheater1                         0
Name: 34485, dtype: object

In [5]:
day_hour = np.empty([df_thermal.shape[0],1],dtype="int")
for i in range(df_thermal.shape[0]):
    day_hour[i] = df_thermal.values[i][0][11:13]

day_hour = pd.DataFrame(day_hour)
day_hour.columns = ["Hour of the Day"]
df_thermal['total_thermal_load'] = df_thermal['air1'] + df_thermal['air2'] + df_thermal['air3'] + df_thermal['furnace1'] + df_thermal['furnace2'] + df_thermal['waterheater1']
print (df_thermal.head())
df_new_thermal = pd.DataFrame(df_thermal,columns=df_thermal.columns)
df_new_thermal.iloc[:,1:] = df_thermal.iloc[:,1:].mul(1000)

                localhour air1 air2 air3    furnace1   furnace2 waterheater1  \
0  2013-03-23 08:00:00-05    0    0    0      0.0059       0.01            0
1  2013-03-23 09:00:00-05    0    0    0  0.00491667       0.01            0
2  2013-03-23 10:00:00-05    0    0    0      0.0059  0.0762833     0.181567
3  2013-03-23 11:00:00-05    0    0    0      0.0059  0.0760333      1.32477
4  2013-03-23 12:00:00-05    0    0    0       0.006       0.01            0

  total_thermal_load
0             0.0159
1          0.0149167
2            0.26375
3             1.4067
4              0.016

In [6]:
thermal_dict = {}
model_history = {}
local_scores=[]
ti = time.time()

In [ ]:
    for counter in range(times):
            i=num_cols
            df = pd.DataFrame()
            if(i != 0):
                print(localdf.columns[i])
                df = localdf[localdf.columns[i]]
                
                #ndf = pd.concat([df.shift(24),df.shift(23),df.shift(22),df.shift(21),df.shift(20),df.shift(19),df.shift(18),df.shift(17),df.shift(16),df.shift(15),df.shift(14),df.shift(13),df.shift(12),df.shift(11),df.shift(10),df.shift(9),df.shift(8),df.shift(7),df.shift(6),df.shift(5),df.shift(4),df.shift(3),df.shift(2), df.shift(1), df], axis=1)
                #ndf.columns = ('t-24','t-23','t-22','t-21','t-20','t-19','t-18','t-17','t-16','t-15','t-14','t-13','t-12','t-11','t-10','t-9','t-8','t-7','t-6','t-5','t-4','t-3','t-2','t-1','t')
                #ndf = ndf.iloc[24:]
                #hour_day = hour_day.iloc[24:]
                #print (ndf.head())
                #print (ndf.tail())
                #print (ndf.columns)
                
                #Function returns Day loads and total load also separately
                ndf,nhr = create_df(localdf)
                ndf = pd.DataFrame(ndf,columns = localdf.columns)
                #To get the total load of the days
                df = pd.DataFrame(ndf.values[:,-1])
                # To collate d1 to d7
                ndf = pd.concat([df.shift(7),df.shift(6),df.shift(5),df.shift(4),df.shift(3),df.shift(2),df.shift(1),df.shift(0)],axis=1)
                ndf.columns = ('t-7','t-6','t-5','t-4','t-3','t-2','t-1','t')
                print ("mean :",ndf['t'].mean(),"max:",ndf['t'].max(),"min:",ndf['t'].min())
                
                #Creating a df for input and ground truth
                '''newdata = pd.DataFrame(np.hstack((nhr,ndf)))
                newop = ndf.values[:,1]
                '''
                x = ndf.values[7:,:-1]#np.hstack((ndf.values[7:-1],nhr[7:-1]))
                y = ndf.values[7:,-1]
                
                print (x.shape,y.shape)
                #ndf = pd.concat([ndf,hour_day],axis=1)
                #x = pd.concat([x,hour_day],axis=1)
                #print ("\n",y.shape)
                #x = ndf[ndf.columns[0:24]]
                #print (x.shape)
                #print (y.shape)
                print (ndf.describe())
                #X_train,X_test,y_train,y_test = train_test_split(x.values,y.values,test_size=0.2,random_state=1)
                train_size = int(x.shape[0]*0.7)
                X_train = x[:train_size]
                y_train = y[:train_size]
                    
                X_test = x[train_size:]
                y_test = y[train_size:]
                print ("Split done ",X_train.shape,X_test.shape,y_train.shape,y_test.shape,)
                from sklearn.ensemble import ExtraTreesRegressor
                from sklearn.metrics import mean_squared_error,mean_absolute_error
#                 model=ExtraTreesRegressor(n_estimators=200,verbose=1)
#                 model.fit(X_train,y_train)
                model = Sequential()
                model.add(Dense(15,input_dim=7,kernel_initializer='normal', activation='relu'))
                #Output Layer.
                model.add(Dense(1,kernel_initializer='normal'))
                #Compile model.
                model.compile(loss='mean_squared_error',optimizer='adam',metrics=[metric])
                #Fit the model.
                history = model.fit(X_train,y_train,epochs=2000,batch_size=32,verbose=1)
#                 #Final Evaluation of the model.
                #model.evaluate returns the 'loss' and the 'metrics' for the model.
                scores = 0#model.evaluate(X_test,y_test,verbose=1)
                y_pred = model.predict(X_test)
                
                y_pred[y_pred<0]=0
                
                print ("R2 Score : ",r2_score(y_test,y_pred))
                print ("MSE : ",mean_squared_error(y_test[:-1],y_pred[1:]))
                print ("MAE : ",mean_absolute_error(y_test[:-1],y_pred[1:]))
                
                #print (str(coeff_determination(y_test,y_pred)))
#                 print ("Metric : %.5f" % (scores[1]))
#                 localdict.setdefault(counter,[]).append((scores[1]))
                #model.summary()
                
                plot_test(y_test,y_pred,0,50)
    return localdict,history,y_test,y_pred,scores