In [11]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import os
import pickle
import time
from keras import backend as K
from sklearn.model_selection import cross_val_score
from sklearn.tree import ExtraTreeRegressor
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from collections import Counter
from sklearn.preprocessing import StandardScaler

In [12]:
'''
Function that takes in a dataframe and then returns the dictionary of accuracies.
'''
'r'
def plot_test(y_test,y_pred,start,end):
    #Plot of testing.
    plt.figure(figsize=(10,10))
    plt.plot(y_test[start:end],'r')
    plt.plot(y_pred[start:end],'b')
    plt.xticks(np.arange(0,end-start,1))
    plt.legend()
    plt.show()


def create_df(localdf):
    i=0
    newdf = []
    timestamp = []
    d = np.zeros((7,))
    newhr = []
    while(24*(i+1)<localdf.shape[0]):
        #print (np.shape(np.sum(localdf.values[24*i:24*(i+1),1:],axis=0).reshape(7,1)),np.sum(localdf.values[24*i:24*(i+1),1:],axis=0).reshape(7,1))
        d = np.sum(localdf.values[24*i:24*(i+1),1:],axis=0)
        newhr.append(localdf.values[24*i:24*(i+1),-1])
        timestamp.append(localdf.values[24*i,0])
        newdf.append(d.T)
        i += 1
    
    print ("End i: ",i)
    newdf = np.hstack((np.reshape(timestamp,(-1,1)),newdf))
    print (newdf)
    return newdf,newhr
  
def extratrees(localdf):
    df = pd.DataFrame()
    df = localdf['total_thermal_load']
    temp = pd.DataFrame()
    temp['dow'] = [x.weekday() for x in localdf.index]
    temp['month'] = [x.month for x in localdf.index] 
    ndf = pd.concat([df.shift(l) for l in range(30,0,-1) ],axis=1)
    ndf.columns = [ 't-'+str(l) for l in range(30,0,-1)]
    ndf=ndf.reset_index()
    ndf = pd.concat([temp,ndf],axis=1)
    del ndf['localhour']
    print(    ndf.columns)
    x = ndf.values[32:,:-1]
    y = ndf.values[32:,-1]
    print (x.shape,y.shape)
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
#     train_size = int(x.shape[0]*0.7)
#     X_train = x[:train_size]
#     y_train = y[:train_size]
#     X_test = x[train_size:]
#     y_test = y[train_size:]
    print ("Split done ",X_train.shape,X_test.shape,y_train.shape,y_test.shape,)

    from sklearn.ensemble import ExtraTreesRegressor
    from sklearn.metrics import mean_squared_error,mean_absolute_error
    scores = []
    model=ExtraTreesRegressor()
    n = 200
    model.set_params(n_estimators=n)
    model.fit(X_train, y_train)
    print ("Model score(r2) : ",model.score(X_test[1:], y_test[1:]))
    y_pred = model.predict(X_test)
    print ("estimator=",n)
    print ("R2 Score : ",r2_score(y_test,y_pred))
    print ("MSE : ",mean_squared_error(y_test,y_pred))
    print ("MAE : ",mean_absolute_error(y_test,y_pred)) 
    plot_test(y_test[1:],y_pred[1:],16,46)
    return(y_pred)

def nnmodel(localdf):
    df = pd.DataFrame()
    df = localdf['total_thermal_load']
    ndf = pd.concat([df.shift(7),df.shift(6),df.shift(5),df.shift(4),df.shift(3),df.shift(2),df.shift(1),df.shift(0)],axis=1)
    ndf.columns = ('t-7','t-6','t-5','t-4','t-3','t-2','t-1','t')
    print ("mean :",ndf['t'].mean(),"max:",ndf['t'].max(),"min:",ndf['t'].min())
    #hour_day = hour_day.iloc[24:]
    x = ndf.values[7:,:-1]#np.hstack((ndf.values[7:-1],nhr[7:-1]))
    y = ndf.values[7:,-1]
    print (x.shape,y.shape)
    #ndf = pd.concat([ndf,hour_day],axis=1)
    #x = pd.concat([x,hour_day],axis=1)
    #print ("\n",y.shape)
    #x = ndf[ndf.columns[0:24]]
    print (x.shape)
    print (y.shape)
    train_size = int(x.shape[0]*0.7)
    X_train = x[:train_size]
    y_train = y[:train_size]
    X_test = x[train_size:]
    y_test = y[train_size:]

    model = Sequential()
    model.add(Dense(15,input_dim=7,kernel_initializer='normal', activation='relu'))
    model.add(Dense(1,kernel_initializer='normal'))
    model.compile(loss='mse',optimizer='adam',metrics=[metric])
    history = model.fit(X_train,y_train,epochs=750,batch_size=63,verbose=0)
    y_pred =model.predict(X_test, batch_size=63)
    print ("R2 Score : ",r2_score(y_test,y_pred))
    print ("MSE : ",mean_squared_error(y_test,y_pred))
    print ("MAE : ",mean_absolute_error(y_test,y_pred))
    model.summary() 
    del model

In [13]:
df= pd.read_pickle("../DataSets/New_Pecan_Street/load_data_1632.pkl")
df_new=df
df_new

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
0,1632,2013-03-15 01:00:00-05,0.820433,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
1,1632,2013-03-15 02:00:00-05,0.373833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
2,1632,2013-03-15 03:00:00-05,0.379117,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
3,1632,2013-03-15 04:00:00-05,0.341650,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4,1632,2013-03-15 05:00:00-05,0.379400,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
5,1632,2013-03-15 06:00:00-05,0.662633,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
6,1632,2013-03-15 07:00:00-05,0.714833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
7,1632,2013-03-15 08:00:00-05,0.614333,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
8,1632,2013-03-15 09:00:00-05,0.421883,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
9,1632,2013-03-15 10:00:00-05,0.552733,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
10,1632,2013-03-15 11:00:00-05,0.402533,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
11,1632,2013-03-15 12:00:00-05,0.389867,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
12,1632,2013-03-15 13:00:00-05,0.491950,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
13,1632,2013-03-15 14:00:00-05,0.437650,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
14,1632,2013-03-15 15:00:00-05,0.346167,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
15,1632,2013-03-15 16:00:00-05,0.394033,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
16,1632,2013-03-15 17:00:00-05,0.397100,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
17,1632,2013-03-15 18:00:00-05,0.465083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
18,1632,2013-03-15 19:00:00-05,0.817500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
19,1632,2013-03-15 20:00:00-05,0.662933,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
20,1632,2013-03-15 21:00:00-05,0.735517,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
21,1632,2013-03-15 22:00:00-05,0.585550,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
22,1632,2013-03-15 23:00:00-05,0.369100,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
23,1632,2013-03-16 00:00:00-05,0.365000,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
24,1632,2013-03-16 01:00:00-05,0.731183,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25,1632,2013-03-16 02:00:00-05,0.307800,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
26,1632,2013-03-16 03:00:00-05,0.356183,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
27,1632,2013-03-16 04:00:00-05,0.324083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
28,1632,2013-03-16 05:00:00-05,0.449050,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
29,1632,2013-03-16 06:00:00-05,0.532833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40965,1632,2017-11-16 21:00:00-06,0.580833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.089300,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40966,1632,2017-11-16 22:00:00-06,0.475567,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.048333,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40967,1632,2017-11-16 23:00:00-06,0.325133,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.073150,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40968,1632,2017-11-17 00:00:00-06,0.830583,0.0,0.0000,0.000650,NaN,NaN,0.0,NaN,...,0.071417,NaN,NaN,NaN,NaN,NaN,NaN,0.415317,NaN,NaN
40969,1632,2017-11-17 01:00:00-06,0.304250,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.056517,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40970,1632,2017-11-17 02:00:00-06,0.308900,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.066050,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40971,1632,2017-11-17 03:00:00-06,0.301083,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.057283,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40972,1632,2017-11-17 04:00:00-06,0.290617,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.048550,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40973,1632,2017-11-17 05:00:00-06,0.307367,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.068567,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40974,1632,2017-11-17 06:00:00-06,0.540483,0.0,0.0003,0.000000,NaN,NaN,0.0,NaN,...,0.051733,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40975,1632,2017-11-17 07:00:00-06,0.542967,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.072383,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40976,1632,2017-11-17 08:00:00-06,0.374783,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.082350,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40977,1632,2017-11-17 09:00:00-06,0.732133,0.0,0.0000,0.000733,NaN,NaN,0.0,NaN,...,0.063117,NaN,NaN,NaN,NaN,NaN,NaN,0.403750,NaN,NaN
40978,1632,2017-11-17 10:00:00-06,0.434467,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.199617,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40979,1632,2017-11-17 11:00:00-06,0.435167,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.115300,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40980,1632,2017-11-17 12:00:00-06,0.591500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.139167,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40981,1632,2017-11-17 13:00:00-06,0.511833,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.069283,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40982,1632,2017-11-17 14:00:00-06,0.367717,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.070450,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40983,1632,2017-11-17 15:00:00-06,0.345867,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.085400,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40984,1632,2017-11-17 16:00:00-06,0.401467,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.129683,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40985,1632,2017-11-17 17:00:00-06,0.809483,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.089550,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40986,1632,2017-11-17 18:00:00-06,1.516200,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.113683,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40987,1632,2017-11-17 19:00:00-06,1.432733,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.122033,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40988,1632,2017-11-17 20:00:00-06,1.436317,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.120467,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40989,1632,2017-11-17 21:00:00-06,1.555367,0.0,0.0000,0.000550,NaN,NaN,0.0,NaN,...,0.087683,NaN,NaN,NaN,NaN,NaN,NaN,0.415017,NaN,NaN
40990,1632,2017-11-17 22:00:00-06,1.198500,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.085717,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40991,1632,2017-11-17 23:00:00-06,0.619400,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.110633,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40992,1632,2017-11-18 00:00:00-06,0.442217,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.086367,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40993,1632,2017-11-18 01:00:00-06,0.386933,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.087783,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
40994,1632,2017-11-18 02:00:00-06,0.382117,0.0,0.0000,0.000000,NaN,NaN,0.0,NaN,...,0.082600,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [14]:
pos=[]
for i in range(3,len(df.columns)):
    if (np.sum(np.isnan(df.iloc[:,i].values))>=40995):
        pos.append(i)
print (pos)

df_new.drop(df_new.columns[pos], inplace=True, axis=1)
for i in range(3,len(df.columns)):
    print (df.columns[i], np.sum(np.isnan(df.iloc[:,i].values)))
    
nuls={}
l=0
for i in range(3,len(df.columns)):
    a=df.iloc[:,i].values
    b=[]
    for j in range (len(a)):
        if np.isnan(a[j])==1:
            b.append(j)
    string = str(i)+"-"+str(np.sum(np.isnan(a)))
    nuls[string]=b
df.isnull().sum()

df_thermal = df[['dataid','localhour','air1','air2','air3','furnace1','furnace2','waterheater1']]
#Removing the dataid and the localhour column from df_thermal.
del df_thermal[df_thermal.columns[0]]
print (df_thermal.shape)

df_thermal = pd.DataFrame(df_thermal.values[175:],columns=df_thermal.columns)
print( df_thermal.iloc[34491:34494])
df_thermal.values[34492][1] = (df_thermal.iloc[34492-24*7+1][1] + df_thermal.iloc[34492+24*7+1][1]) / 2
df_thermal.values[34492][2] = (df_thermal.iloc[34292-24*7+1][2] + df_thermal.iloc[34492+24*7+1][2]) / 2
print(df_thermal.iloc[34316-24*7+1],df_thermal.iloc[34316+24*7+1])

[6, 7, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 24, 29, 31, 32, 33, 34, 35, 36, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 63, 64, 65, 67, 68]
air1 1
air2 1
air3 18
bathroom1 18
clotheswasher1 0
dishwasher1 0
disposal1 0
drye1 40833
dryg1 162
furnace1 18
furnace2 0
garage1 18
garage2 162
grid 1
kitchenapp1 0
kitchenapp2 0
lights_plugs1 18
lights_plugs2 18
lights_plugs3 40851
microwave1 0
outsidelights_plugs1 1
outsidelights_plugs2 1
range1 40851
refrigerator1 7942
waterheater1 18
(40995, 7)
                    localhour air1         air2 air3 furnace1 furnace2  \
34491  2017-02-27 10:00:00-06    0  6.66667e-05    0    0.005    0.005
34492  2017-02-27 11:00:00-06  NaN          NaN    0    0.005    0.005
34493  2017-02-27 12:00:00-06    0            0    0    0.005    0.005

      waterheater1
34491            0
34492            0
34493            0
localhour       2017-02-13 04:00:00-06
air1                                 0
air2                                 0
air3                                 0
furnace1                         0.005
furnace2                         0.005
waterheater1                         0
Name: 34149, dtype: object localhour       2017-02-27 04:00:00-06
air1                                 0
air2                                 0
air3                                 0
furnace1                         0.005
furnace2                         0.005
waterheater1                         0
Name: 34485, dtype: object

In [15]:
day_hour = np.empty([df_thermal.shape[0],1],dtype="int")
for i in range(df_thermal.shape[0]):
    day_hour[i] = df_thermal.values[i][0][11:13]

day_hour = pd.DataFrame(day_hour)
day_hour.columns = ["Hour of the Day"]
df_thermal['total_thermal_load'] = df_thermal['air1'] + df_thermal['air2'] + df_thermal['air3'] + df_thermal['furnace1'] + df_thermal['furnace2'] + df_thermal['waterheater1']
print (df_thermal.head())
df_new_thermal = pd.DataFrame(df_thermal,columns=df_thermal.columns)
df_new_thermal.iloc[:,1:] = df_thermal.iloc[:,1:].mul(1000)

                localhour air1 air2 air3    furnace1   furnace2 waterheater1  \
0  2013-03-23 08:00:00-05    0    0    0      0.0059       0.01            0
1  2013-03-23 09:00:00-05    0    0    0  0.00491667       0.01            0
2  2013-03-23 10:00:00-05    0    0    0      0.0059  0.0762833     0.181567
3  2013-03-23 11:00:00-05    0    0    0      0.0059  0.0760333      1.32477
4  2013-03-23 12:00:00-05    0    0    0       0.006       0.01            0

  total_thermal_load
0             0.0159
1          0.0149167
2            0.26375
3             1.4067
4              0.016

In [16]:
print (df_new_thermal['air1'].max(),df_new_thermal['air2'].max(),df_new_thermal['air3'].max(),df_new_thermal['furnace1'].max(),df_new_thermal['furnace2'].max())
df_new_thermal["air1"].values[df_new_thermal["air1"].values < (2400/60)] = 0 
df_new_thermal["air2"].values[df_new_thermal["air2"].values < (2000/60)] = 0 
df_new_thermal["air3"].values[df_new_thermal["air3"].values < (1800/60)] = 0 
df_new_thermal["furnace1"].values[df_new_thermal["furnace1"].values < (5000/60)] = 0 
df_new_thermal["furnace2"].values[df_new_thermal["furnace2"].values < (1000/60)] = 0 
df_new_thermal["waterheater1"].values[df_new_thermal["waterheater1"].values < (df_new_thermal['waterheater1'].max()/60)] = 0 
df_thermal['total_thermal_load'] = df_thermal['air1'] + df_thermal['air2'] + df_thermal['air3'] + df_thermal['furnace1'] + df_thermal['furnace2'] + df_thermal['waterheater1'] 
df_new_thermal

2399.916666666667 1925.0166666666669 1573.7333333333331 5048.083333333333 1020.6999999999999

,localhour,air1,air2,air3,furnace1,furnace2,waterheater1,total_thermal_load
0,2013-03-23 08:00:00-05,0,0,0,0,0,0,0
1,2013-03-23 09:00:00-05,0,0,0,0,0,0,0
2,2013-03-23 10:00:00-05,0,0,0,0,76.2833,181.567,257.85
3,2013-03-23 11:00:00-05,0,0,0,0,76.0333,1324.77,1400.8
4,2013-03-23 12:00:00-05,0,0,0,0,0,0,0
5,2013-03-23 13:00:00-05,0,0,0,0,0,0,0
6,2013-03-23 14:00:00-05,0,0,0,0,0,0,0
7,2013-03-23 15:00:00-05,0,0,0,0,0,0,0
8,2013-03-23 16:00:00-05,0,0,0,0,0,0,0
9,2013-03-23 17:00:00-05,0,0,0,0,0,0,0
10,2013-03-23 18:00:00-05,0,0,0,0,0,0,0
11,2013-03-23 19:00:00-05,0,0,0,0,0,121.75,121.75
12,2013-03-23 20:00:00-05,0,0,0,0,0,186,186
13,2013-03-23 21:00:00-05,0,0,0,0,0,0,0
14,2013-03-23 22:00:00-05,0,0,0,0,0,0,0
15,2013-03-23 23:00:00-05,0,0,0,0,0,0,0
16,2013-03-24 00:00:00-05,0,0,0,0,0,0,0
17,2013-03-24 01:00:00-05,0,0,0,0,0,372.25,372.25
18,2013-03-24 02:00:00-05,0,0,0,0,0,0,0
19,2013-03-24 03:00:00-05,0,0,0,0,0,0,0
20,2013-03-24 04:00:00-05,0,0,0,0,0,0,0
21,2013-03-24 05:00:00-05,0,0,0,0,0,0,0
22,2013-03-24 06:00:00-05,0,0,0,0,0,0,0
23,2013-03-24 07:00:00-05,0,0,0,0,140.183,381.583,521.767
24,2013-03-24 08:00:00-05,0,0,0,0,111.4,0,111.4
25,2013-03-24 09:00:00-05,0,0,0,0,150.633,0,150.633
26,2013-03-24 10:00:00-05,0,0,0,0,134.75,0,134.75
27,2013-03-24 11:00:00-05,0,0,0,0,136,0,136
28,2013-03-24 12:00:00-05,0,0,0,0,134.933,0,134.933
29,2013-03-24 13:00:00-05,0,0,0,0,76.05,0,76.05
...,...,...,...,...,...,...,...,...
40790,2017-11-16 21:00:00-06,0,0,0,0,0,0,0
40791,2017-11-16 22:00:00-06,0,0,0,0,0,0,0
40792,2017-11-16 23:00:00-06,0,0,0,0,0,0,0
40793,2017-11-17 00:00:00-06,0,0,0,0,0,415.317,415.317
40794,2017-11-17 01:00:00-06,0,0,0,0,0,0,0
40795,2017-11-17 02:00:00-06,0,0,0,0,0,0,0
40796,2017-11-17 03:00:00-06,0,0,0,0,0,0,0
40797,2017-11-17 04:00:00-06,0,0,0,0,0,0,0
40798,2017-11-17 05:00:00-06,0,0,0,0,0,0,0
40799,2017-11-17 06:00:00-06,0,0,0,0,0,0,0
40800,2017-11-17 07:00:00-06,0,0,0,0,0,0,0
40801,2017-11-17 08:00:00-06,0,0,0,0,0,0,0
40802,2017-11-17 09:00:00-06,0,0,0,0,0,403.75,403.75
40803,2017-11-17 10:00:00-06,0,0,0,0,0,0,0
40804,2017-11-17 11:00:00-06,0,0,0,0,0,0,0
40805,2017-11-17 12:00:00-06,0,0,0,0,0,0,0
40806,2017-11-17 13:00:00-06,0,0,0,0,0,0,0
40807,2017-11-17 14:00:00-06,0,0,0,0,0,0,0
40808,2017-11-17 15:00:00-06,0,0,0,0,0,0,0
40809,2017-11-17 16:00:00-06,0,0,0,0,0,0,0
40810,2017-11-17 17:00:00-06,0,0,0,0,0,0,0
40811,2017-11-17 18:00:00-06,0,0,0,0,0,0,0
40812,2017-11-17 19:00:00-06,0,0,0,0,0,0,0
40813,2017-11-17 20:00:00-06,0,0,0,0,0,0,0
40814,2017-11-17 21:00:00-06,0,0,0,0,0,415.017,415.017
40815,2017-11-17 22:00:00-06,0,0,0,0,0,0,0
40816,2017-11-17 23:00:00-06,0,0,0,0,0,0,0
40817,2017-11-18 00:00:00-06,0,0,0,0,0,0,0
40818,2017-11-18 01:00:00-06,0,0,0,0,0,0,0
40819,2017-11-18 02:00:00-06,0,0,0,0,0,0,0

In [17]:
df_new_thermal=df_new_thermal.set_index(df_new_thermal.localhour)
df_new_thermal['localhour']=pd.to_datetime(df_new_thermal['localhour'])
df_new_thermal.drop('localhour',inplace=True,axis=1)
df_new_thermal.index=pd.to_datetime(df_new_thermal.index)
df_new_thermal1=df_new_thermal.resample('D').sum()
df_new_thermal1=df_new_thermal[1:]
df_new_thermal1

,air1,air2,air3,furnace1,furnace2,waterheater1,total_thermal_load
localhour,,,,,,,
2013-03-23 14:00:00,0,0,0,0,0,0,0
2013-03-23 15:00:00,0,0,0,0,76.2833,181.567,257.85
2013-03-23 16:00:00,0,0,0,0,76.0333,1324.77,1400.8
2013-03-23 17:00:00,0,0,0,0,0,0,0
2013-03-23 18:00:00,0,0,0,0,0,0,0
2013-03-23 19:00:00,0,0,0,0,0,0,0
2013-03-23 20:00:00,0,0,0,0,0,0,0
2013-03-23 21:00:00,0,0,0,0,0,0,0
2013-03-23 22:00:00,0,0,0,0,0,0,0
2013-03-23 23:00:00,0,0,0,0,0,0,0
2013-03-24 00:00:00,0,0,0,0,0,121.75,121.75
2013-03-24 01:00:00,0,0,0,0,0,186,186
2013-03-24 02:00:00,0,0,0,0,0,0,0
2013-03-24 03:00:00,0,0,0,0,0,0,0
2013-03-24 04:00:00,0,0,0,0,0,0,0
2013-03-24 05:00:00,0,0,0,0,0,0,0
2013-03-24 06:00:00,0,0,0,0,0,372.25,372.25
2013-03-24 07:00:00,0,0,0,0,0,0,0
2013-03-24 08:00:00,0,0,0,0,0,0,0
2013-03-24 09:00:00,0,0,0,0,0,0,0
2013-03-24 10:00:00,0,0,0,0,0,0,0
2013-03-24 11:00:00,0,0,0,0,0,0,0
2013-03-24 12:00:00,0,0,0,0,140.183,381.583,521.767
2013-03-24 13:00:00,0,0,0,0,111.4,0,111.4
2013-03-24 14:00:00,0,0,0,0,150.633,0,150.633
2013-03-24 15:00:00,0,0,0,0,134.75,0,134.75
2013-03-24 16:00:00,0,0,0,0,136,0,136
2013-03-24 17:00:00,0,0,0,0,134.933,0,134.933
2013-03-24 18:00:00,0,0,0,0,76.05,0,76.05
2013-03-24 19:00:00,0,0,0,0,76.25,0,76.25
...,...,...,...,...,...,...,...
2017-11-17 03:00:00,0,0,0,0,0,0,0
2017-11-17 04:00:00,0,0,0,0,0,0,0
2017-11-17 05:00:00,0,0,0,0,0,0,0
2017-11-17 06:00:00,0,0,0,0,0,415.317,415.317
2017-11-17 07:00:00,0,0,0,0,0,0,0
2017-11-17 08:00:00,0,0,0,0,0,0,0
2017-11-17 09:00:00,0,0,0,0,0,0,0
2017-11-17 10:00:00,0,0,0,0,0,0,0
2017-11-17 11:00:00,0,0,0,0,0,0,0
2017-11-17 12:00:00,0,0,0,0,0,0,0
2017-11-17 13:00:00,0,0,0,0,0,0,0
2017-11-17 14:00:00,0,0,0,0,0,0,0
2017-11-17 15:00:00,0,0,0,0,0,403.75,403.75
2017-11-17 16:00:00,0,0,0,0,0,0,0
2017-11-17 17:00:00,0,0,0,0,0,0,0
2017-11-17 18:00:00,0,0,0,0,0,0,0
2017-11-17 19:00:00,0,0,0,0,0,0,0
2017-11-17 20:00:00,0,0,0,0,0,0,0
2017-11-17 21:00:00,0,0,0,0,0,0,0
2017-11-17 22:00:00,0,0,0,0,0,0,0
2017-11-17 23:00:00,0,0,0,0,0,0,0
2017-11-18 00:00:00,0,0,0,0,0,0,0
2017-11-18 01:00:00,0,0,0,0,0,0,0
2017-11-18 02:00:00,0,0,0,0,0,0,0
2017-11-18 03:00:00,0,0,0,0,0,415.017,415.017
2017-11-18 04:00:00,0,0,0,0,0,0,0
2017-11-18 05:00:00,0,0,0,0,0,0,0
2017-11-18 06:00:00,0,0,0,0,0,0,0
2017-11-18 07:00:00,0,0,0,0,0,0,0
2017-11-18 08:00:00,0,0,0,0,0,0,0

In [18]:
df_new_thermal1=df_new_thermal1.resample('D').sum()
df_new_thermal1

,air1,air2,air3,furnace1,furnace2,waterheater1,total_thermal_load
localhour,,,,,,,
2013-03-23,0.000000,0.000000,0.000000,0.000000,152.316667,1506.333333,1658.650000
2013-03-24,0.000000,0.000000,0.000000,0.000000,1123.216667,1444.083333,2567.300000
2013-03-25,0.000000,0.000000,0.000000,7612.833333,3596.550000,3324.433333,14533.816667
2013-03-26,0.000000,0.000000,0.000000,7964.966667,3355.733333,4447.800000,15768.500000
2013-03-27,0.000000,0.000000,0.000000,6993.466667,2222.700000,1510.366667,10726.533333
2013-03-28,0.000000,0.000000,0.000000,734.916667,533.266667,4052.200000,5320.383333
2013-03-29,0.000000,0.000000,0.000000,0.000000,0.000000,2516.166667,2516.166667
2013-03-30,0.000000,0.000000,0.000000,0.000000,0.000000,2524.800000,2524.800000
2013-03-31,469.116667,352.200000,0.000000,0.000000,222.216667,1447.366667,2490.900000
2013-04-01,354.983333,0.000000,0.000000,0.000000,0.000000,1972.733333,2327.716667
2013-04-02,424.083333,0.000000,0.000000,0.000000,0.000000,2197.816667,2621.900000
2013-04-03,0.000000,0.000000,0.000000,5845.600000,183.766667,3323.566667,9352.933333
2013-04-04,51.166667,0.000000,0.000000,16625.616667,227.783333,4307.433333,21212.000000
2013-04-05,0.000000,0.000000,0.000000,9713.283333,1561.983333,2717.133333,13992.400000
2013-04-06,0.000000,0.000000,0.000000,2195.333333,0.000000,4155.916667,6351.250000
2013-04-07,0.000000,0.000000,0.000000,0.000000,0.000000,1379.866667,1379.866667
2013-04-08,0.000000,0.000000,0.000000,0.000000,0.000000,3056.583333,3056.583333
2013-04-09,0.000000,0.000000,0.000000,0.000000,0.000000,2229.216667,2229.216667
2013-04-10,2050.716667,0.000000,0.000000,3220.483333,0.000000,1441.950000,6713.150000
2013-04-11,0.000000,0.000000,0.000000,19028.916667,0.000000,3460.300000,22489.216667
2013-04-12,0.000000,0.000000,0.000000,8926.816667,0.000000,4160.550000,13087.366667
2013-04-13,0.000000,0.000000,0.000000,634.383333,0.000000,3027.283333,3661.666667
2013-04-14,0.000000,0.000000,0.000000,0.000000,0.000000,1100.783333,1100.783333
2013-04-15,0.000000,0.000000,0.000000,0.000000,0.000000,2642.316667,2642.316667
2013-04-16,5048.833333,0.000000,0.000000,0.000000,0.000000,2315.783333,7364.616667
2013-04-17,4419.950000,0.000000,0.000000,0.000000,0.000000,1056.566667,5476.516667
2013-04-18,3526.116667,0.000000,0.000000,0.000000,0.000000,2882.816667,6408.933333
2013-04-19,0.000000,0.000000,0.000000,13130.400000,0.000000,2790.400000,15920.800000
2013-04-20,0.000000,0.000000,0.000000,10207.233333,0.000000,2661.033333,12868.266667
2013-04-21,0.000000,0.000000,0.000000,5310.916667,0.000000,3031.066667,8341.983333
...,...,...,...,...,...,...,...
2017-10-20,0.000000,0.000000,0.000000,0.000000,0.000000,825.300000,825.300000
2017-10-21,2720.800000,2572.150000,719.216667,0.000000,364.683333,830.966667,7207.816667
2017-10-22,6149.550000,669.966667,422.216667,0.000000,99.833333,848.450000,8190.016667
2017-10-23,0.000000,0.000000,0.000000,0.000000,0.000000,1249.483333,1249.483333
2017-10-24,0.000000,0.000000,0.000000,0.000000,0.000000,1260.500000,1260.500000
2017-10-25,0.000000,0.000000,0.000000,0.000000,0.000000,837.700000,837.700000
2017-10-26,0.000000,0.000000,0.000000,0.000000,0.000000,1245.750000,1245.750000
2017-10-27,0.000000,0.000000,0.000000,0.000000,0.000000,1237.350000,1237.350000
2017-10-28,0.000000,0.000000,0.000000,0.000000,283.333333,1651.416667,1934.750000
2017-10-29,0.000000,0.000000,0.000000,0.000000,698.500000,1230.700000,1929.200000
2017-10-30,0.000000,0.000000,0.000000,0.000000,0.000000,1224.766667,1224.766667
2017-10-31,0.000000,0.000000,0.000000,0.000000,0.000000,1635.700000,1635.700000
2017-11-01,0.000000,0.000000,0.000000,0.000000,0.000000,805.933333,805.933333
2017-11-02,0.000000,0.000000,0.000000,0.000000,0.000000,1248.250000,1248.250000
2017-11-03,1401.550000,0.000000,0.000000,0.000000,0.000000,845.983333,2247.533333
2017-11-04,3875.200000,0.000000,0.000000,0.000000,0.000000,832.216667,4707.416667
2017-11-05,3056.033333,0.000000,0.000000,0.000000,0.000000,839.166667,3895.200000
2017-11-06,7535.166667,1477.450000,0.000000,0.000000,288.733333,835.983333,10137.333333
2017-11-07,1763.666667,373.866667,0.000000,0.000000,60.400000,848.200000,3046.133333
2017-11-08,0.000000,0.000000,0.000000,0.000000,0.000000,1625.866667,1625.866667
2017-11-09,0.000000,0.000000,0.000000,0.000000,673.683333,1614.666667,2288.350000
2017-11-10,0.000000,0.000000,0.000000,0.000000,608.850000,1195.583333,1804.433333
2017-11-11,0.000000,0.000000,0.000000,0.000000,0.000000,1163.350000,1163.350000
2017-11-12,0.000000,0.000000,0.000000,0.000000,0.000000,1222.566667,1222.566667
2017-11-13,0.000000,0.000000,0.000000,0.000000,0.000000,810.083333,810.083333
2017-11-14,0.000000,0.000000,0.000000,0.000000,0.000000,1228.716667,1228.716667
2017-11-15,0.000000,0.000000,0.000000,0.000000,0.000000,825.050000,825.050000
2017-11-16,0.000000,0.000000,0.000000,0.000000,0.000000,1229.983333,1229.983333
2017-11-17,0.000000,0.000000,0.000000,0.000000,0.000000,819.066667,819.066667
2017-11-18,0.000000,0.000000,0.000000,0.000000,0.000000,415.016667,415.016667

In [19]:
thermal_dict = {}
model_history = {}
local_scores=[]
ti = time.time()
localdf=df_new_thermal1
times=1
num_cols=7
metric="mean_squared_error"

In [20]:
scores=[]
scores=extratrees(df_new_thermal1)

Index(['dow', 'month', 'localhour', 't-30', 't-29', 't-28', 't-27', 't-26',
       't-25', 't-24', 't-23', 't-22', 't-21', 't-20', 't-19', 't-18', 't-17',
       't-16', 't-15', 't-14', 't-13', 't-12', 't-11', 't-10', 't-9', 't-8',
       't-7', 't-6', 't-5', 't-4', 't-3', 't-2', 't-1'],
      dtype='object')
(1670, 32) (1670,)
Split done  (1336, 32) (334, 32) (1336,) (334,)

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [ ]:
nnmodel(df_new_thermal1)

In [ ]:
df = pd.DataFrame()
df = df_new_thermal1['total_thermal_load']
ndf = pd.concat([df.shift(7),df.shift(6),df.shift(5),df.shift(4),df.shift(3),df.shift(2),df.shift(1),df.shift(0)],axis=1)
ndf.columns = ('t-7','t-6','t-5','t-4','t-3','t-2','t-1','t')
ndf

In [ ]:
x = ndf.values[7:,:-1]
y = ndf.values[7:,-1]
print (x.shape,y.shape)
train_size = int(x.shape[0]*0.7)
X_train = x[:train_size]
y_train = y[:train_size]
X_test = x[train_size:]
y_test = y[train_size:]

In [ ]:
print(X_train.shape,X_test.shape,x.shape,y_train.shape,y_test.shape,y.shape,ndf.shape)

In [ ]:
localdf=df_new_thermal1
df = pd.DataFrame()
df = localdf['total_thermal_load']
temp = pd.DataFrame()
temp['dow'] = [x.weekday() for x in localdf.index]
temp['month'] = [x.month for x in localdf.index] 
ndf=ndf.reset_index()
ndf = pd.concat([df.shift(l) for l in range(30,0,-1) ],axis=1)
ndf.columns = [ 't-'+str(l) for l in range(30,0,-1)]
ndf = pd.concat([temp,ndf],axis=1)
ndf

In [ ]:
ndf.head()